div.first{
    display: inline-block;
    background-color: white;
    position: relative;
    left:20vw;
    height:500px;
    width:250px;
    border-radius: 30px;
    padding: 20px;

}
.uppar{
    display: block;
    height:30px;
    width: 90%;
    position: relative;
    margin-top:50px;
    

    
}
.bar{
    display: inline-block;
    
    width:20px; 
    height: 20px;
    float: left;
    

}
.profile{
    display: inline-block;
    height:25px;
    width:20px;
    border-radius:45%;
    float:right;
    
   
}
.title{
    text-align: left;
    position: relative;
    margin-top: 10px;
    height:50px;
    
}
/*flex boxes*/
.flex{
width: 100%;
background:transparent;
height: 70px;
text-align: center;
padding-top: 10px;
}
.flexbox{
    display:inline-block;
    width:70px;
    height:60px;
    background-color:#EEEDEC;
    border-radius:15px;

}

/* scrolling tabs */
.pics,.vdos,.scrl {
    width:100%;
    height: 30px;
    overflow: hidden;
}

.picsm,.vdosm,.modules {
    
    height:90px; 
    padding:5px;
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hide;
	-webkit-overflow-scrolling:touch;
}
.module {

    display:inline-block;
    width:auto;
    height:0px;
    margin-right:10px;
    text-align:center;
    color:grey;
    font-family: cursive;
    font-size: 10px;
     background: transparent; 
}

/*my photos*/
.pics{
    height:80px;
}
.picsm{
    height:100px;
    white-space: nowrap;
}
.pic{
    display:inline-block;
    width:60px;
    height:60px;
    margin-right:10px;
    text-align:center;
    background: transparent; 
    border-radius:30%;
    box-shadow: 5px 3px #66646427;
}

/* videos */
.vdos{
    height:120px;
}
.vdosm{
    height:130px;
}
.vdo{
    display:inline-block;
    width:130px;
    height:80px;
    margin-right:10px;
    text-align:center;
    background: transparent; 
    border-radius:9%;
}
.heading{

    margin-top:10px;
    margin-bottom:0px;
    font-family: Comic Sans MS; 
}
/* 
PART 2 */
.search{
    background-color: #F0EEEC;
    border-radius: 10px;
    height:30px;
    
}
.searchi,.textbox{
    position: relative;
    bottom: 5px;
    display: inline;
    background-color: #F0EEEC;
    

}
.searchi{
    margin-right: 0px;
    width:10px;
    height:3px;
        bottom: 4px;
    margin-left: 5px;
}
.textbox{
    margin-left:0px; 
    font-family: Comic Sans MS;
    border: transparent;
    
}
.today{
   
    
    
}
.todaytxt{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    margin-left:10px;
}
.blackbox{
    margin-top: 5px;
    background-color: white;
    position: absolute;
    top:37vh;
    left:45vw;
    background-color: #151C3A;
    width:250px;
    height:270px;
    border-radius: 30px;
    padding:20px;
}    
.box{
    margin-bottom:20px;
height:50px;
widows: 100%;
background-color:transparent;

}
.boxpic{
    display: inline-block;
    width:50px;
    height:auto;
    border-radius: 15px;
     
}
.boxtxt{
display: inline-block;
background-color: transparent;
width:140px;
height:auto;
margin-left: 15px;
position: relative;
top:-20px;
}
.text{
    font-family: 'Slabo 27px', serif;
    font-size: 13px;
    color: #BEBFC4;
}